body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 160px;
	margin-bottom: 5px;
	background: white;
}

#header{
	position: absolute;
	float:left;
	top:0;
	left:0;
	right:0;
}
#red{
	height: 12px;
	border-bottom:2px #000 solid;
	background-color:#f00;
	width: 100%;
	z-index: 2px;
	position:relative;
}

#red_menu{
	width:950px;
	height: 20px;
	margin: 4px auto;
	text-align:right;
}

#silver{
	background-image:url(../images/silver2.png);
	background-repeat:repeat-x;
	height: 80px;
	width: 100%;
	z-index: -2;
	margin:auto;
	position:absolute;
}

#silver ul{
  list-style:none;
  padding:0;
  width:950px;
  height: 80px;
  margin: auto;
}

#silver li{
	list-style-type:none;
	margin:0 0 0 0;
	height: 60px;
	width: 475px;
	float: left;
}

#logo{
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-position:left;
	height: 60px;
	width: 470px;
}

#logo2{
	background-image:url(../images/perpustakaan.png);
	background-repeat:no-repeat;
	background-position:right;
	height: 80px;
	width: 480px;
}

#black{
	background-image:url(../images/black.png);
	height: 45px;
	width: 100%;
	z-index: -1;
	margin-top: 80px;
	position:absolute;
}
#black ul{
	width:1100px;
	height: 42px;
	margin:auto;
}

#black li{
	list-style-type:none;
	float:left;
}

#main_menu{
	background-image:url(../images/black_button.png);
	background-repeat:no-repeat;
	text-align:center;
	width: 114px;
	height:30px;
}

#main_menu a{
	font-family:Rockwell;
	font-size:18px;
	line-height: 30px;
	color:#FFFFFF;
	text-decoration:none;
}

#main_menu:hover{
	background-image:url(../images/black_button_hover.png);
}

#main_menu a:hover{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}
#menu-top ul { list-style: none; margin: 0; padding: 0; }
 
#menu-top ul li { display: block; height: 28px; float: left; overflow: visible; }
#menu-top ul li:hover > ul { display: block; }
 
#menu-top ul li a { float: left; display: block; }
 
#menu-top ul li ul { display: none; position: absolute; top: 100%;
                    background: #000; color: #fff; height: auto;
}
 
#menu-top ul li ul li a { color: #ccc; padding: 4px 14px; display: block; }
 
#menu-top ul li ul li.active a,
#menu-top ul li ul li a:hover { color: #fff; }
#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	margin-top: 80px;
	background:white url(bg.gif) repeat-x left top;
	z-index:1;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
	width:950px;
	margin:auto;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-family:Rockwell;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #000000;
	background-color:#ffffff;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 20px 20px 5px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #fc0000;
	border-left: 5px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #323232;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#f5f5f5;
	border-bottom: 1px solid #d9d6d6;
	border-right: 1px solid #d9d6d6;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.navigation{
	width: 180px;
}
.navigation ul{
	list-style: none;
}
.navigation ul li{
	height: 30px;
	border-bottom: 1px dotted #ccc;
}
.navigation ul li a{
	text-indent: 20px;
	padding: 5px 0;
	display: block;
	height: 20px;
	text-decoration: none;
	color: #434343;
	background-image: url(../images/book.png);
	background-repeat: no-repeat;
	background-position: 5px 6px ;
}
.navigation ul li a:hover{
	background:#c9c8c8;
	border-bottom: 1px solid #aba6a6;
	border-right: 1px solid #aba6a6;
	background-image: url(../images/book_2.png);
	background-repeat: no-repeat;
	background-position: 15px 6px ;
	color: #000;
}
.post
{
	margin: 0 0 20px;
}

.post .title
{
	font-size: 1.5em;
	border-bottom: 1px solid #eddfc9;
}

.post .title a
{
	color: #55c;
	text-decoration: none;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #fff7ef;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}

.menu{
	height: 28px;
	position:relative;
}
ul.menu{
  background-image: url(../images/red_button.png);
  background-repeat: no-repeat;
  background-position:right bottom;	   
  list-style:none;
  padding:0;
  padding-right:23px;
  width: 950px;
  height: 29px;
  margin: auto;
  text-align:right;  
}
ul.menu * {
  margin:0;
  padding:0;
  
}
ul.menu a {
  background-color:#f00;
  display:block;
  color:#000;
  text-decoration:none;
  
}
ul.menu li {
  position:relative;
  float:right;
  
}
ul.menu ul {
  position:absolute;
  top:28px;
  left:0;
  display:none;
  opacity:0;
  list-style:none
}
ul.menu ul li {
  position:relative;
  border-top:none;
  width:148px;
  margin:0;
}
ul.menu ul li a {
  display:block;
  padding:3px 15px 4px;
  font-size:13px;
}
ul.menu ul li a:hover {
  background:url(../images/header_over.gif);
}
ul.menu ul ul {
  left:148px;
  top:-1px
}
ul.menu .menulink {
  padding:5px 5px 3px;
  font-weight:bold;
  font-family:Rockwell;
  
}

ul.menu .disabled {
  padding:5px 5px 3px;
  font-weight:bold;
}

ul.menu .disabled:hover {
  color: #444444;
}
ul.menu .menulink:hover, ul.menu .menuhover {
  background:url(../images/header_over.gif);
  color:#fff;
}
ul.menu .sub{
  background:url(../images/header.gif);
  /*background: url(images/arrow.gif) 136px 8px no-repeat;*/
  height: 13px;
  
}

ul.menu .arrow{
  top:-10px;
  padding-left:10px;
  position:relative;
  float:right
}

ul.menu .sub:hover {
  background:url(../images/header_over.gif);
  height: 13px;
}
