
ul.menu {
  list-style:none;
  margin:0;
  padding:0;
  position: absolute;
}
ul.menu * {
  margin:0;
  padding:0
}
ul.menu a {
  display:block;
  color:#000;
  text-decoration:none;
  background-color: #0066cc;
  
}
ul.menu li {
  position:relative;
  float:left;
  
}
ul.menu ul {
  position:absolute;
  top:26px;
  left:0;
  background:#d1d1d1;
  display:none;
  opacity:0;
  list-style:none
}
ul.menu ul li {
  position:relative;
  border:1px solid #aaa;
  border-top:none;
  width:148px;
  margin:0
}
ul.menu ul li a {
  display:block;
  padding:3px 7px 5px;
  background-color: #ccffff;
}
ul.menu ul li a:hover {
  background-color:#0066cc;
  color: #ffffff;
}
ul.menu ul ul {
  left:148px;
  top:-1px
}
ul.menu .menulink {
  padding:5px 7px 7px;
  font-weight:bold;
  width:134px;
}

ul.menu .disabled {
  border:1px solid #aaa;
  padding:5px 7px 7px;
  font-weight:bold;
  width:134px;
  background-color: #6699ff;
  color: #cccccc;
}

ul.menu .disabled:hover {
  background-color: #6699ff;
  color: #cccccc;
}
ul.menu .menulink:hover, ul.menu .menuhover {
  background-color:#0066cc;
  color: #ffffff;
}
ul.menu .sub {
  height: 13px;
}

ul.menu .arrow{
  top:6px;
  padding-left:10px;
  position:relative;
  float:right
}

ul.menu .sub2 {
 
}